<div class="login-container d-flex flex-column flex-md-row py-2 px-0 rounded-4 px-md-3 py-md-5 ">
    <div class="imagen-section">
        <img src="assets/login/login-fondo.webp" alt="Fondo de Clínica" class="imagen-fondo" />
        <div class="overlay-content">
            <img src="assets/general/icono-clinica.webp" alt="Logo" class="logo-overlay" />
            <h3 class="texto-bienvenida">Bienvenido de vuelta</h3>
            <p class="subtexto-bienvenida">Accede a tu cuenta para gestionar tus citas médicas</p>
        </div>
    </div>

    <div class="formulario-section">
        <div class="formulario-content px-md-5">
            <div class="text-center mb-5">
                <h2 class="titulo-login">Iniciar Sesión</h2>
                <p class="subtitulo-login">Ingresa tus credenciales para continuar</p>
            </div>

            <form (ngSubmit)="onSubmit($event)" [formGroup]="loginForm">

                <mat-form-field appearance="outline" class="w-100 mb-3">
                    <mat-label>Correo electrónico</mat-label>
                    <mat-icon matPrefix>mail</mat-icon>
                    <input matInput formControlName="email" placeholder="Ingresa tu correo" type="email" required />

                    @if (loginForm.get('email')?.hasError('required')) {
                    <mat-error> El correo es obligatorio </mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('email')) {
                    <mat-error> Ingresa un correo válido </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 mb-3">
                    <mat-label>Contraseña</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                        placeholder="Ingresa tu contraseña" required />
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    @if (loginForm.get('password')?.hasError('required')) {
                    <mat-error> La contraseña es obligatoria </mat-error>
                    }
                </mat-form-field>

                <button mat-flat-button color="boton" class="w-100 mt-3" type="submit">
                    Ingresar
                </button>
            </form>

            @if (error) {
            <mat-error class="d-block mt-3 text-center">
                {{ error }}
            </mat-error>
            }

            <div class="mt-4 text-center">
                <h1 class="h5 mb-3 text-muted">¿Necesitas ayuda?</h1>
                <a [routerLink]="['/recuperar']" class="link-registro"
                    style="font-weight: 900; color: var(--negro) !important;"> Recuperar Contraseña </a>
                <a [routerLink]="['/recuperar']" class="link-recuperar d-block mb-2">¿Olvidaste tu contraseña?</a>
                <span class="texto-registro">¿No tienes cuenta?</span>
                <a [routerLink]="['/registro']" class="link-registro"
                    style="font-weight: 900; color: var(--negro) !important;"> Regístrate </a>
            </div>
        </div>
    </div>
</div>