header {
    background: linear-gradient(90deg, var(--azul-claro) 0%, var(--celeste) 100%);
    padding: 10px 40px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

    .contenedor {
        place-items: center;
        max-width: 100vw;

        .brand {
            width: 11rem;
        }
    }
}

.contenedor-mobile {
    background: linear-gradient(360deg, var(--azul-claro) 0%, var(--azul) 100%);
}

.offcanvas-header {
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
}

.menu-mobile {
    width: 100%;
    height: 80%;
}

@media (max-width: 992px) {
    header {
        background: linear-gradient(90deg, var(--azul-claro) 0%, var(--celeste) 100%);

        .brand {
            span {
                color: var(--blanco);

                &:hover {
                    color: var(--azul-claro);
                }
            }
        }
    }
}

.btn-close {
    margin: 0;
}


li a {
    color: var(--blanco);
    font-size: 1rem;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;

    &:hover {
        width: auto;
        display: flex;
        padding: auto 15px !important;
        align-items: center;
        color: var(--azul-oscuro);
        background-color: var(--gris);
        transition: all 0.3s ease-in-out;
    }
}

.contenido,
.contenido ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    li {
        width: 100%;

        a {
            width: 100%;
            place-content: center;
            font-size: 1rem;
            padding: .5rem 0;

            &:hover {
                width: auto;
                display: flex;
                padding: auto 15px !important;
                align-items: center;
                color: var(--azul-oscuro);
                background-color: var(--gris);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.cerrar {
    color: var(--rojo);
    font-size: 1.3rem;
    font-weight: bold;

    &:hover {
        background: var(--gris-claro);
        color: var(--rojo);
        transition: all 0.3s ease-in-out;
    }
}